
.header{
    text-align: center;
    background-image: url('../images/back5.jpg');
    color: aliceblue;
}

.nav ul{
     list-style-type: none;
    margin: 0;
    padding: 0;
    
    overflow: hidden;
    background-image: url('../images/back4.jpg');
    
}


.nav ul li{
    float: left;
}

.nav ul li a {
    display: block;
    /* border: 3px solid black; */
   text-align: center;
    padding: 30px;
    font-size: 25px;
    text-decoration: none;
    padding-bottom: 20px;
    color: rgb(255, 220, 114);
}


.clg{
    border: 3px solid black;
    height: 50px;
    width: 50px;
}

marquee{
    font-size: 25px;
    font-style: italic;
    padding-left: 20px;
}

.ugcourse > marquee{
    margin-right: 50px;
    margin-top: 20px;
}

.flex-container{
    display: flex;
    /* border: 3px solid black; */
   
    overflow: hidden;
    }

    .flex-container > .box1{
        background-color: rgb(156, 156, 250);
        color: aliceblue;
        padding: 30px;
        text-align: center;
        padding: 30px;
        margin: 20px;
    }
    .flex-container > .box2{
        background-color: rgb(156, 156, 250);
        color: aliceblue;
        padding: 30px;
        text-align: center;
        padding: 30px;
        margin: 20px;
    }

    .flex-container > .box3{
        background-color: rgb(156, 156, 250);
        color: aliceblue;
        padding: 30px;
        text-align: center;
        padding: 30px;
        margin: 20px;
    }


    footer{
        background-image: url('../images/back5.jpg');
        color: rgb(255, 255, 255);
        text-align: center;
    }

    p{
        color: blue;
    }




  @media screen and (max-width:800px){
    .header{
        text-align: center;
        background-image: url('../images/back5.jpg');
        color: rgb(225, 239, 29);
    }
    
    .nav ul{
         list-style-type: none;
        margin: 0;
        padding: 0;
        
        overflow: hidden;
        background-image: url('../images/back4.jpg');
        
    }
    
    
    .nav ul li{
        float: left;
    }
    
    .nav ul li a {
        display: block;
        /* border: 3px solid black; */
       text-align: center;
        padding: 10px;
        font-size: 20px;
        text-decoration: none;
        padding-bottom: 20px;
        color: rgb(36, 215, 12);
    }

    .flex-container{
        
        flex-direction: column;
    }
 

    }





    
